# {{ ansible_managed }}
[{{ namespace }}]
# endpoints
conscience={{ namespace_address | default(namespace_conscience.address) }}
zookeeper={{ zookeepers_address | default(namespace_zookeeper.address) }}
proxy={{ oioproxy_address | default(namespace_oioproxy.address) }}
event-agent={{ eventagent_address | default(namespace_eventagent.address) }}

ns.meta1_digits={{ namespace_meta1_digits }}
udp_allowed={{ namespace_udp_allowed }}

ns.storage_policy={{ namespace_storage_policy }}
ns.chunk_size={{ (namespace_chunk_size_megabytes | int) * 1024 * 1024 }}
ns.service_update_policy={% for servicetype in namespace_service_update_policy %}{{ servicetype.name }}={{ servicetype.policy }}|{{ servicetype.replicas }}|{{ servicetype.distance }}|;{% endfor %}
