# {{ ansible_managed }}
[Service.{{ openio_meta0_namespace }}-meta0-{{ openio_meta0_serviceid }}]
command=/usr/bin/oio-meta0-server -p /run/oio/sds/{{ openio_meta0_namespace }}-meta0-{{ openio_meta0_serviceid }}.pid -s OIO,{{ openio_meta0_namespace }},meta0,{{ openio_meta0_serviceid }} -O Endpoint={{ openio_meta0_bind_address }}:{{ openio_meta0_bind_port }}  -O Config=/etc/oio/sds/{{ openio_meta0_namespace }}/meta0-{{ openio_meta0_serviceid }}/meta0-{{ openio_meta0_serviceid }}.conf {{ openio_meta0_namespace }} {{ openio_meta0_volume }}
enabled=true
start_at_boot=true
on_die=respawn
group={{ openio_meta0_namespace }},meta0,{{ openio_meta0_serviceid }}
uid=openio
gid=openio
env.PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
